@page "/admin/product"
@model Project.Areas.Admin.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create" class="btn btn-outline-primary">
        <span class="bi bi-plus-lg"></span> Create New
    </a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Calories)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dish[0].Category)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Dish) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Calories)
            </td>
            <td>
                <img src="@item.Image" alt="@item.Name" width="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category!.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id" class="btn btn-outline-warning">
                    <span class="bi bi-pencil"></span>
                </a> 
                <a asp-page="./Details" asp-route-id="@item.Id" class="btn btn-outline-info">
                    <span class="bi bi-info-circle"></span>
                </a> 
                <a asp-page="./Delete" asp-route-id="@item.Id" class="btn btn-outline-danger">
                    <span class="bi bi-trash"></span>
                </a>
            </td>
        </tr>
}
    </tbody>
</table>

<pager current-page="@Model.CurrentPage"
       total-pages="@Model.TotalPages"
       admin="true"></pager>
